{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static "price-style.css" %}" />
<div id="outer">
    <div id="wrapper">
    <div id="inner"
    Price a Stock Option using Monte Carlo Analysis
    </br>
    <div id = "form">
         <label for="type">Type: </label>
         <select id="type" name="type">
             <option value="Call">Call</option>
             <option value="Put">Put</option>
        </select></br>
        <div class="form-group">
        <label for="ticker">Ticker: </label>
        <input id="ticker" type="text" name="ticker" value="AAPL"></br>
        <label for="days">Days: </label>
        <input id="days" type="text" name="days" value="31"> </br>
        <label for="strike">Strike: </label>
        <input id="strike" type="text" name="strike" value="120.00"></br>
        <div id="button"> <button id='submit' class="btn btn-primary">submit</button></div>
    </div>
        <div id='results'>
          <p><a href="#" class="export btn btn-success btn-sm">Export</a></p>
          <div class="table-responsive">
        <table id='result' class="table table-hover table-condensed" border="1">
            <tbody>
            <tr>
                <th>Ticker</th>
                <th>Type</th>
                <th>Days</th>
                <th>Strike</th>
                <th>Price</th>
            </tr>
        </tbody>
    </table>
  </div>
  </div>
 </div>
</div>
</div>
</div>
<script type="text/javascript">
$('#submit').click(function(){
        $.ajax({url: "/accounts/price",
             data:{'ticker':$('#ticker').val(),
             'days':$('#days').val(),
             'strike':$('#strike').val(),
             'type':$('#type').val()},
            success:function(data) {
          $('#result > tbody:last-child').append('<tr><td>'+data["ticker"]+
              '</td><td>'+data["type"]+'</td><td>'+data["days"]+'</td><td>'+
                  data["strike"]+'</td><td>'+data["price"]+'</td></tr>');
          }});
        });

$(document).ready(function () {

    function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr:has(td),tr:has(th)'),


            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    //$header = $row.find('th');
                    $cols = $row.find('th,td');

                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        exportTableToCSV.apply(this, [$('#results>table'), 'export.csv']);

        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
});
</script>
{% endblock %}
