#form{
    margin-bottom: 35px;
}
input, select {
        width: 200px;
        min-height: 16px;
        border: 1px solid #000;
        display: inline-block;
        margin: 5px;
        }

label {
        width: 40px;
        min-height: 16px;
        display: inline-block;
        margin: 5px;
        }
th {
        width: 55px;
        min-height: 16px;
        margin: 5px;
        }
#results{
        margin:5px;
        width:300px;
}
#button {
    width: 280px;
    text-align:center;
}

#wrapper{
  width: 50%;
  margin: 0 auto;
}
#inner{
  width: 50%;
  margin: 0 auto;
  white-space: nowrap;
  /*border-style: solid;
  border-width: 1px;*/
}
#header{
  text-align: right;
}
