#header{
  text-align: right;
  margin-right: 5px;
}
#wrapper{
  width: 50%;
  margin: 0 auto;
}
#inner{
  width: 50%;
  margin: 0 auto;
  white-space: nowrap;
  /*border-style: solid;
  border-width: 1px;*/
}
